*{
    padding: 0px;
    margin:0px;
    
}

body{
    background-color: rgba(231, 231, 231, 0.89);
    height:700px;
    
}

ul#lista  {
    list-style:none;
    text-decoration:none ;
    display:flex; 
    flex-direction: row;
    font-family:"Nunito",sans-serif;
    height:60px;
    width:1255px;
    text-align:center;
    background-color:#202235;
    position:sticky;
    margin-left:25px;
    padding-bottom:10px;
    justify-content:space-evenly;
    margin-top:12px
}


#lista li button:hover{
    border:#202235;
    color: rgb(238, 238, 238);
    background-color: #07116ff2;
    cursor:pointer;
    will-change:transform;
    transition: all 250ms ease-in-out;
    transform:scale(1.052);

  
}

#lista li button{
    display:inline-block;
    border:#202235;
    background-color:#202235;
    color: rgb(238,238,238);
    font-size:18px;
    justify-content:center;
    text-align:center;
    width:178px;
    height:60px;
    padding-left:40px;
    padding-right:40px;
    margin-top:5px;
    position:static;
    
   

    
}




.columna{
    width:200px;
    box-sizing:border-box;
    padding:0.6em
}

.columna-left{
    border-right:4px solid #d3d3d3;
    margin-top:50px;
    margin-left:80px;
    font-family:"Nunito",Sans-serif; 
    display:block;
    grid-template-columns:550px;
    width:550px
}
div.columna.left{
    margin-right:0px;
}

.columna-right {
    font-size:0.9em;
    font-family:"Nunito", sans-serif;
    margin-left:670px;
    margin-right:150px;
    width:550px;
    bottom:310px;
    display:column;
    grid-template-columns:50px;
    position:relative
}
.formulario{
    vertical-align:top ;
    width:20%;
    display:inline-block
}

.formulario input,
.formulario textarea{
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid #999;
    padding:0.4em 0.6em;
    font-size: 0.8em;
    width:300px
}

.formulario input[type="submit"]{
    background-color: #6da9ed;
    box-shadow:0 0 10px rgba(0,0,0,0.4);
    color:white;
    font-size:1em;
    width:180px;
    cursor:pointer;
    position:sticky
}

.formulario textarea{
    height:10em;
    resize:none
}

.formulario .acciones{
    text-align: center;
    
}

 h2{
      margin-left:100px  
}


